@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap');


:root {
--pink:#EC5598;
--black:#767676;
--brown:#4B3941;
--white:#ffff;

}


* {
    font-family: "Ga Maamli", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
    text-transform: capitalize;

}

*::selection {
    background-color: var(--white);
    color: var(--black);

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
}

::-webkit-scrollbar {
    height: .5rem;
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--green);
    border-radius: 5rem;
}


section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    border: 8px solid #EC5598;
    border-style: inset;
}

.heading h1{
    color: var(--black);
    font-size: 50px; 
    background-color: var(--white); 
   text-align: center;
}
.heading h1 span{
    color: var(--pink);
}
div.scroll-container {
  background-color: var(--white);
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}

img{
 
    width: 25%;
    padding: 10px;
    opacity: 0.8; 
    cursor: pointer; 
}


img:hover {
  opacity: 1;
}






  
 
  
  /* Clear floats after the columns */
  .scroll-container:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container */
  .container {
    position: relative;
    display: none;
  }
  
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
  /* Closable button inside the expanded image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 18px;
    color: var(--white);
    font-size: 35px;
    cursor: pointer;
  }

 